@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --primary-color: #ece5e7;
}

@keyframes scroll {
  from {
  }
  to {
    background-color: var(--primary-color);
    box-shadow: #ddd 0px 0px 10px 0px;
  }
}

* {
  font-family: Roboto, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.root-container {
  height: 100vh;
  overflow-y: scroll;
}

header {
  height: 100vh;
  width: 100%;
  background: url("./assets/images/bg-image.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header > nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0;
}

header > nav > ul > li {
  display: inline;
  list-style: none;
}

header > nav > ul > li > img {
  height: 64px;
  border-radius: 8px;
}

header > nav > ul > ul > li {
  display: inline;
  list-style: none;
  font-size: medium;
  font-weight: bold;
  color: white;
  font-size: x-large;
  margin-right: 50px;
  letter-spacing: 2px;
}

header > nav > ul > ul > li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

main > section {
  display: flex;
  height: 100vh;
}

main > section > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > section > div > h1 {
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

main > section > div > img {
  height: 70vh;
  width: auto;
}

main > section > div > h2 {
  width: 40vw;
  color: rgb(7, 1, 1);
}

main > section > div > .contact-form {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

main > section > div > .contact-form input {
  width: 100%;
  padding: 4px 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(243, 237, 237);
  color: rgb(0, 0, 0);
  height: 40px;
  outline: none !important;
  margin-bottom: 10px;
  box-shadow: rgb(163, 123, 123) 4px 4px 20px;
}
main > section > div > .contact-form textarea {
  width: 100%;
  padding: 4px 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(243, 237, 237);
  color: rgb(0, 0, 0);
  height: 200px;
  outline: none !important;
  margin-bottom: 10px;
  box-shadow: rgb(163, 123, 123) 4px 4px 20px;
}

main > section > div > .contact-form button {
  width: 40%;
  align-self: flex-end;
  padding: 4px 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(243, 237, 237);
  color: rgb(0, 0, 0);
  height: 40px;
  box-shadow: rgb(163, 123, 123) 4px 4px 20px;
}

main > section > div > .contact-form button:hover {
  background-color: #cebec2;
  cursor: pointer;
}

main > section > div > .contact-form input:focus {
  border: 1px solid #cebec2;
}
main > section > div > .contact-form textarea:focus {
  border: 1px solid #cebec2;
}

.scrolling {
  animation: 500ms ease scroll forwards;
}

header > nav.scrolling > ul > ul > li {
  color: black;
}

header > nav.scrolling > ul > ul > li:hover {
  color: white;
}

.background-primary {
  background-color: var(--primary-color);
}
.background-black {
  height: 70vh;
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  box-shadow: rgb(163, 123, 123) 4px 4px 20px;
}

footer {
  background-color: black;
  color: white;
}
